<body>
    <app-navbar></app-navbar>
    <div class="employee-container">
        <h2>Reporte de Autores por Cédula</h2>

        <input type="text" placeholder="Ingrese la cédula del autor...">
        <button>Buscar</button>

        <div class="author-info">
            <h3>Información del Autor</h3>
            <p><strong>Nombre Completo:</strong> Gabriel José de la Concordia García Márquez</p>

            <h3>Libros Asociados</h3>
            <ul>
                <li>Cien años de soledad</li>
                <li>El amor en los tiempos del cólera</li>
                <li>Crónica de una muerte anunciada</li>
            </ul>
        </div>
    </div>
    <app-footer></app-footer>
</body>