<body>
    <app-navbar></app-navbar>
    <div class="employee-container">
        <h1>Books</h1>

        <input [(ngModel)]="searchTitle" type="text" placeholder="Input Title">
        <button (click)="searchBook()">Search</button>

        <section class="cards">
            @for (item of books; track $index) {
                <div class="author-info">
                    <h2>{{item.title}}</h2>
                    <p><strong>ISBN:</strong> {{item.isbn}}</p>
                    <p><strong>Editorial:</strong> {{item.editorial}}</p>
                    <p><strong>Publication Year:</strong> {{item.publicationYear}}</p>
        
                    <h3>Authors:</h3>
                    <ul>
                        @for (author of item.authors; track $index) {
                            <li>{{author.firstName + ' ' + author.firstLastName}}</li>
                        }
                    </ul>
                </div>
            }
        </section>
    </div>
    <app-footer></app-footer>
</body>