<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <app-navbar></app-navbar>

    <div class="container">

        <section id="autores">
            <h2>Author Management</h2>
            <p>Add, edit, and delete authors from the system.</p>
            <button class="btn" [routerLink]="['/admin/authors']"><i class="fas fa-arrow-circle-right"></i> See Authors</button>
            <!-- <button class="btn-add" (click)="formAddAuthor()"><i class="fas fa-plus"></i> Agregar Autor</button>
            <button class="btn-edit"><i class="fas fa-edit"></i> Editar Autor</button>
            <button class="btn-delete"><i class="fas fa-trash"></i> Eliminar Autor</button> -->
        </section>


        <section id="libros">
            <h2>Book Management</h2>
            <p>Add, edit, and delete books from the system.</p>
            <button class="btn" [routerLink]="['/admin/books']"><i class="fas fa-arrow-circle-right"></i> See Books</button>
            <!-- <button class="btn-search"><i class="fas fa-search"></i> Buscar Libro</button>
            <button class="btn-add"><i class="fas fa-plus" (click)="formAddBook()"></i> Agregar Libro</button>
            <button class="btn-edit"><i class="fas fa-edit"></i> Editar Libro</button>
            <button class="btn-delete"><i class="fas fa-trash"></i> Eliminar Libro</button> -->
        </section>


        <section id="usuarios">
            <h2>User Management</h2>
            <p>Add, edit, and delete users from the system.</p>
            <button class="btn" [routerLink]="['/admin/users']"><i class="fas fa-arrow-circle-right"></i> See Users</button>
            <!-- <button class="btn-search"><i class="fas fa-search"></i> Buscar Usuario</button>
            <button class="btn-add" (click)="formAdd()"><i class="fas fa-user-plus"></i> Agregar Usuario</button>
            <button class="btn-edit"><i class="fas fa-user-edit"></i> Editar Usuario</button>
            <button class="btn-delete"><i class="fas fa-user-times"></i> Eliminar Usuario</button> -->
        </section>
    </div>

    <app-footer></app-footer>
    
</body>

</html>