body{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.main {
    overflow-y: hidden;
    position: relative;
    top: 110px;
    margin: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-container {
    overflow-y: hidden;
    margin-top: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
}

.article {
    position: relative;
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);
    transition: all .5s ease;
}

.article:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    transform: scale(1.05);
}

.body-article {
    margin: 30px;
    padding-top: 30px;
}

h2,
h3 {
    color: #1A2A5A;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

p {
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 10px;
}

.icons {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* .delIcon,
.edIcon {
    font-size: 30px;
    margin: 10px;
}

.delIcon {
    color: #ff0000;
}

.delIcon:hover {
    color: #e21010;
    transition: all 0.5s;
    cursor: pointer;
}

.edIcon {
    color: #ffffff;
}

.edIcon:hover {
    color: #057FD7;
    transition: all 0.5s;
    cursor: pointer;
} */

/* Botones */
.btn {
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: #1f1f1f3b 1px solid;
    transition: 0.3s ease-in-out;
    background-color: white;
    color: var(--blue);
    height: auto;
    width: fit-content;
}

/* Efectos al pasar el cursor */
.btn:hover {
    transform: scale(1.05);
}

.del{
    color: #e21010;
}

.del:hover{
    background-color: #e21010;
    color: white;
}

.upt:hover{
    background-color: var(--blue);
    color: white;
}

.new {
    width: 400px;
    height: 250px;
    transition: all .5s ease;
    border: none;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 20px;
    background-color: #969faac2;
    color: #969FAA;
}

.new:hover {
    background-color: #969FAA;
    color: #70767e;
    cursor: pointer;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    transform: scale(1.05);
}

@media (max-width:940px) {

    .article,
    button {
        width: 320px;

    }

    .main-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        ;
        gap: 20px;
    }

}

@media screen and (max-width: 760px) {

    .article,
    button {
        width: 280px;

    }
}

@media screen and (max-width: 710px) {

    .article,
    button {
        width: 400px;

    }
}

@media screen and (max-width: 490px) {

    .article,
    button {
        width: 320px;

    }
}