<!-- <app-navbar></app-navbar>

@if (showForm) {
<app-category-form></app-category-form>
}

<div class="main">
  <h2>Collection</h2>

  <section class="main-container">
    @if (rol === 'administrator') {
    <button (click)="addCategory()">
      New Category
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    } @for (item of listCategory; track item.id; ; let i = $index) {
    <article class="category" style="background-image: url({{listImages[i]}});">
      <a class="see-apps" id="{{item.id}}" (click)="seeApps(item.id!)">See apps <fa-icon
          [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
      </div>
      @if (rol === 'administrator') {
      <div class="icons">
        @if(item.id! > 3){
        <a class="delIcon" (click)="deleteCategory(item.id!, item.name!)"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        }
        <a class="edIcon" (click)="editCategory(item.id!)"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
      }
    </article>
    }
  </section>
</div> -->